@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7200A7;
  --hover: #470367;
  --light: #9D67B7;
  --bgmaincolor: #CAB2D6;
}

* {
  font-family: 'Open Sans', sans-serif !important;
}
